body {
   background-image: url('../images/background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0;
   overflow:hidden;
   display: block;
   height: 100%;
}

.create-btn{
    margin-top: 10px;
    background-color: green;
    font-size: 14px;
    width:100px;
    color: white;
    padding: 10px;
    align-self: center;
    font-family: 'Times New Roman', Times, serif;
 }

.post-modal-content{
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 70%;
}